
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="solid-color full-screen">
    <div class="container">
        <div class="row">
            <div class="image-person">
                
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="intro-section">
                    <h1 class="intro">Pixave &ndash; The smartest way to organize your images</h1>
                    <h5>Available on the Mac App Store</h5>
                </div>
            </div>
        </div>
    </div>
</div>